-e git://github.com/thetrav/arcade.git@development#egg=arcade
-e git://github.com/thetrav/pytiled_parser.git@master#egg=pytiled-parser
-e git://github.com/pyinstaller/pyinstaller@develop#egg=pyinstaller
esper